body{
    background-color:black;
    color:aliceblue;
    font-family:"Lucida Sans","Lucida Sans Regular","Lucid Grande";
}

.big{
    font-size: 100px;
    font-family:monospace;
    font-weight:100;
}

#red{
    color:coral;
}

#green{
    color:aquamarine;
}

#yellow{
    color:gold;
}

/* link decoration */
a{
    color:lightpink;
    font-size: 30px;
}

/* link interaction */
a:hover{
    color:deeppink;
    font-size: 40px;
}

#title{
    text-align:center;
}

#content{
    width:80%;
    position:relative;
    left:10%;
    padding:20px;
}

.left{
    float:left;
    width: 50%;
}

.right{
    float:left;
    width: 50%;
}

img{
    width: 80%;
    height: auto;
}

.two-columns:after{
    content:"";
    display:table;
    clear:both;
}

#footer{
    font-size: small;
    text-align:center;
}

#illustrator{
    
}