/*.canvas1Frame{
    width: 500px;
}
iframe{
    display: block;
}
*/
body{
    margin: 0px;
    background-color: rgb(50,50,50);
    color:#000;
    font-family: 'Alegreya', serif;
    /*background-color: #e6e6f9;
    font-family: 'Nova Square', sans-serif;
    font-family: 'Roboto', sans-serif;*/
}

body.canva1{
    margin: 0px;
    background-color: transparent;
    color:#000;
    font-family: 'Alegreya', serif;
    /*font-family: 'Nova Square', sans-serif;
    font-family: 'Roboto', sans-serif;*/
}

h1{
    color: white;
}

.top-section{
    margin:3%;
    margin-left: 15%;
}
img{
    width:100%;
    height:100%;
}

#sections {
    padding:10px;
}

.section {
    margin-right: 40px;
    display: inline-block;
    color:white;
}

.section:hover {
    background-color: #555;
}

.box{
    padding:0px;
    margin: 0px;
    width:450px;
    height:300px;
}
  
.big{
    width:100%;
    padding:1%;
    height:40px;
    background-color:rgb(50,50,50);
    font-size:40px;
    font-weight: 600;
    text-align: center;
    color:white;
    margin-bottom: 5%;
}

/*
.box-0{
    width:900px;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(50,50,50);
}
*/
.box-1{
    width:300px;
    height:200px;
    background-color:rgb(50,50,50);
}
  
.box-2{
    width:500px;
    height:150px;
    background-color:rgb(50,50,50);
    color:white;
    padding: 20px 50px;
    font-size: large;
}
  
.box-3{
    width:900px;
    height:100px;
    background-color:rgb(50,50,50);
    color:white;
    font-size: large;
}
  
.flex-container{
    display:flex;
    justify-content: space-evenly; /*flex-end, space-between, space-evenly*/
    width: 640px; /*80%*/
    height: 480px;
    margin:auto;
    flex-wrap:wrap;
}


.flex-container-home{
    display:flex;
    justify-content: space-evenly; /*flex-end, space-between, space-evenly*/
    width: 900px; /*80%*/
    height: 500px;
    margin:auto;
    flex-wrap:wrap;
}

.canvas1Frame{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    text-align: center;
    display: block;
}

.canvas2Frame{
    width: 640px;
    height: 480px;
    z-index: -1;
    text-align: center;
    display: block;
}

.canvas3Frame{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    text-align: center;
    display: block;
}

iframe{
    text-align: center;
    display: block;
}

#footer{
    position: fixed;
    bottom:10px;
    width: 100%;
    font-size: small;
    text-align:center;
    color:white;
    display: block;
}
